.App{
  max-width: 1150px;
  margin: auto;
}
.header-title {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 5.6px;
  text-align: center;
}
.sidebar-list{  
  padding-top: 40px;
  display: flex;  
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
}
.home-page{
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  list-style-type: none;
  padding-top: 40px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.btn{
  border: 1px solid black;
  padding: 7px 20px;
  border-radius: 2px;
  background: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
  text-align: center;
}
.btn-meal{
  border: 1px solid black;
  padding: 3px 5px;
  border-radius: 2px;
  background: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 5px;
}
a{
  margin: 10px;
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 50px;
}
a:hover{
  color: blue;
}
.btn:hover, .btn-meal:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.sidebar-icon{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  cursor: pointer;
}

.sidebar-container{
width: 300px;
height: 100%;
border: 1px solid black;
position: absolute;
top: 0;
left: 0;
background-color: white;
}

.category{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  position: relative;
}

.meal{
  display: flex;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #fff transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

